body {
  background-image: url("../img/gradienta-m_7p45JfXQo-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 0;
}

/* ------------------------------------------------ */
/* ------------------ LEFT ----------------------- */
/* ------------------------------------------------ */
#left {
  background-color: pink;
  border-radius: 5px;
}

/* ------------------------------------------------ */
/* ------------------ BOARD ----------------------- */
/* ------------------------------------------------ */
#root {
  background-color: #548045;
  height: 35em;
  width: 100%;
  /* margin: 0 auto; */
  border-radius: 5px;
}

#title {
  height: 10%;
}

#board {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------------------------------------------------ */
/* ------------------ BUTTONS --------------------- */
/* ------------------------------------------------ */
#buttons {
  display: flex;
  justify-content: center;
  height: 20%;
}

.button {
  border: none;
  color: white;
  padding: 0 60px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition-duration: 0.4s;
  width: 13em;
}

.newDeck {
  background-color: #e7e7e7;
  color: black;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newDeck:hover {
  background-color: #807777;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disabledButton {
  background-color: #a7a7a7;
  color: black;
}

.drawCard {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #008cba;
  color: black;
}

.drawCard:hover {
  background-color: #035a77;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.drawedCard {
  width: 100px;
}

/* ------------------------------------------------ */
/* ------------------ SCORE ----------------------- */
/* ------------------------------------------------ */
#score {
  border-radius: 5px;
  background-color: blanchedalmond;
}

/* ------------------------------------------------ */
/* ------------------ MODAL ----------------------- */
/* ------------------------------------------------ */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------ */
/* ------------------ RESPONSIVE ------------------ */
/* ------------------------------------------------ */
@media only screen and (max-width: 600px) {
  #root {
    width: 96%;
  }
}
